@import "tailwindcss";
@theme {
    /* --font-display: "Satoshi", "sans-serif"; */
    /* --breakpoint-3xl: 1920px; */
    --color-primary: #ffae00;
    --color-secondary: "#F8F8F8";
    --color-dark: "#1d1d1d";
    --color-accent: "#D72638";
    --color-muted: "#B0B0B0";
    /* ... */
}
body {
    font-family: "Poppins", serif;
}
.secondary_font {
    font-family: "Oxanium", serif;
}
.container {
    width: 1280px;
    max-width: 96%;
    margin: 0 auto;
}
.news_letter_bg {
    background: url("../src/assets/newsletter-bg.webp");
}
.button_primary {
    @apply cursor-pointer font-medium hover:text-black text-black bg-primary px-4 py-1 rounded;
}
.button_primary_md {
    @apply cursor-pointer font-medium hover:text-white  text-lg bg-primary px-8 py-2 rounded;
}
.button_primary_large {
    @apply cursor-pointer font-medium hover:text-white text-white text-xl bg-primary px-16 py-3 rounded;
}
.input_primary {
    @apply w-full block px-4 py-2 text-base bg-black/10 outline-0 rounded-md;
}
.label_primary {
    @apply inline-block font-medium;
}
:where(.css-dev-only-do-not-override-1qdf4kr).ant-tabs .ant-tabs-tab-btn {
    font-size: 25px !important;
    font-weight: 700 !important;
}
:where(.css-dev-only-do-not-override-1qdf4kr).ant-tabs
    .ant-tabs-tab-btn:focus:not(:focus-visible),
:where(.css-dev-only-do-not-override-1qdf4kr).ant-tabs
    .ant-tabs-tab-remove:focus:not(:focus-visible),
:where(.css-dev-only-do-not-override-1qdf4kr).ant-tabs .ant-tabs-tab-btn:active,
:where(.css-dev-only-do-not-override-1qdf4kr).ant-tabs
    .ant-tabs-tab-remove:active {
    color: #ffae00 !important;
    font-family: "Oxanium", serif;
}
:where(.css-dev-only-do-not-override-1qdf4kr).ant-tabs .ant-tabs-ink-bar {
    background: #ffae00 !important;
}
:where(.css-dev-only-do-not-override-1qdf4kr).ant-tabs
    .ant-tabs-tab.ant-tabs-tab-active
    .ant-tabs-tab-btn {
    color: #ffae00 !important;
    text-shadow: 0 0 0.25px currentcolor;
}
:where(.css-dev-only-do-not-override-1qdf4kr).ant-tabs .ant-tabs-tab:hover {
    color: #ffae00 !important;
}
